body {
    margin:0;
    padding: 0;
    /* font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; */
    font-family: Arial, Helvetica, sans-serif;
}

/* header's page */
.ul-parent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0rem;
    padding: 2.5rem 17rem;
    box-sizing: border-box;
    cursor: pointer;
    width:1600px;
}

.ul-parent a{
    text-decoration: none;
    color:black;
}

#menu{
    font-size: 1.25rem; 
    font-weight: normal;
}

.ul-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    gap: 2rem;
    font-size: 1rem;
}

.ul-child a{
    color:gray;
}

.ul-child a:hover{
    color:black;
}

/* first page's css */
.lawyer-container {
    position: relative;
    display: flex;
    align-items: center;
    width:1600px;
    height: 44rem;
    overflow: hidden;
}

.lawyer-container::before {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    content: "";
    background-image: url(./images/lawyer.jpg);
    background-color: rgb(95, 95, 95);
    /* background-color: rgb(147, 138, 138); */
    /* background-color: rgb(146, 143, 143); */
    background-blend-mode: overlay;
}

.box {
    position: absolute;
    left: 16rem;
    height:27rem;
    width: 25rem;
    /* background-color: rgb(11, 49, 77); */
    background-color: rgb(12, 60, 94);
    padding: 2.4rem 2rem;
    box-sizing:border-box;
}

#component-1-text-1{
    color:white;
    font-size: 0.9rem;
    margin-bottom: 0.5rem;
}

#component-1-text-2{
    color:white;
    font-size: 40px;
    line-height: 2.5rem;
    margin-bottom: 0.5rem;
    font-weight: lighter;
}

#component-1-text-3{
    /* color:rgb(255, 221, 0); */
    color:rgb(250, 221, 23);
    font-size: 0.9rem;
    font-style: italic;
    margin-top: 0.9rem;
}

.text-box{
    margin: 1.6rem 0rem;
    padding: 1rem;
    width: 20rem;
    border: 0;
}

.component-1-button{
    background-color: rgb(255, 221, 0);
    width: 9rem;
    height: 2.8rem;
    font-size: 0.8rem;
    border-radius: 1px;
    border-style: none;
    color:rgb(84,86,86)
}

/* Second page's css */
.container-2{
    height: 25rem;
    width:1600px;
    display: flex;
    justify-content: space-evenly;
    align-items: center; 
    line-height: 2rem;
    box-sizing:border-box;
    padding: 0rem 9rem;
}

.cards {
    width: 23rem;
    justify-content: center;
}

.cards-title{
    font-size: 1.rem;
    margin: 0.5rem 0rem;
}

.cards-content {
    font-size: 0.9rem;
    line-height: 1.6;
    color:rgb(99, 98, 98);
}

.container-2-sub{
    height: 22rem;
    width:1600px;
    background-color: rgb(244, 244, 244);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.8rem;
    font-size: 1.2rem;
}

.fouder-name{
    font-size: 0.85rem;
    color:rgb(84,86,86);
}   

/* third page's css */
.container-3 {
    position: relative;
    width:1600px;
    height: 50rem;
}

.container-3::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: url("./images/glasses.png") no-repeat;
    background-attachment: fixed;
    background-size: 100%;
    background-position: 0 -98;
    filter: grayscale(100%);
    opacity: 0.4;
}

.container-3 .overlay {
    height: 42rem;
    position: relative;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.prices-title{
    font-size: 1.25rem;
    margin-bottom: 0.5rem;
    margin-top: 9rem;
}

.prices-content {
    color:rgb(84,86,86);
    font-size: 0.9rem;
}

.price-cards-container{
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-sizing:border-box;
    padding: 0rem 13rem;
    margin-top: 6rem;
}

.price-cards{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    box-sizing: border-box;
    padding: 3.5rem 3rem;
    width: 20rem;
    height: 32rem;
    font-size: 1rem;
    color:rgb(99, 98, 98);
    gap: 1.5rem;  
    background-image: 
        linear-gradient(45deg, #0000 calc(50% - 1px), rgba(204, 204, 204, 0.4), #0000 calc(50% + 1px)),
        linear-gradient(-45deg, #0000 calc(50% - 1px), rgba(204, 204, 204, 0.4), #0000 calc(50% + 1px)), 
        linear-gradient(90deg, rgba(204, 204, 204, 0.4) 1px, transparent 1px),
        linear-gradient(0deg, rgba(204, 204, 204, 0.4) 1px, transparent 1px);
    background-size: 
        24px 24px,
        24px 24px, 
        12px 12px,
        12px 12px;
}

.plan-title{
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    color: black;
}

.price{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    color: black;
    font-weight: normal;
}


.price-component-button{
    /* background-color: rgb(11, 49, 77); */
    background-color: rgb(12, 60, 94);
    color:white;
    width: 8.5rem;
    height: 3.5rem;
    padding: 1.2rem 0rem;
    font-size: 0.9rem;
    border-radius: 1px;
    border-style: none;
    margin-bottom: 0.5rem;
}

/* fourth page's */
.container-4 {
    position: relative;
    height: 30rem;
    overflow:hidden;
    width:1600px;
}

.container-4::before {
    height: 100%;
    width:1600px;
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgb(11, 49, 77);
    filter: brightness(120%);
    opacity: 85%;
    overflow:hidden;
}

.image4 {
    width: 100%;
    position: relative;
    top: 0;
    transform: translateY(-26%) scale(1);
    z-index: -1;
}

.container-4-component{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.marketing-title{
    font-size: 1.8rem;
    font-weight: lighter;
    line-height: 3rem;
}

.marketing-content{
    font-size: 13px;
}

.container-4-button{
    /* background-color: rgb(255, 221, 0); */
    background-color: rgb(250, 221, 23);
    color:rgb(0,0,0,0.8);
    width: 10.5rem;
    height: 2.5rem;
    font-size: 13px;
    border-radius: 1px;
    border-style: none;
    margin-top: 2rem;
}

/* footer's css */
.footer{
    height: 18rem;
    width:1600px;
    /* background-image: linear-gradient(rgb(44, 51, 60), rgb(24, 28, 34)); */
    /* background-image: linear-gradient(rgb(33, 40, 51), rgb(29,37,48)); */
    background-color: #1d2530;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:0.375rem;
    color:white;
}

.footer-title{
    font-size:1.15rem;
}

.footer-address{
    font-size:0.8rem;
    margin-top: 0.3rem;
}

.social-media{
    display: flex;
    justify-content: center;
    height: 2.4rem;
    width: 100%;
    margin-top: 2rem;
    gap: 2.5rem;
}