blinker
cachetools==5.5.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click
colorama
cors==1.0.1
filelock==3.16.1
Flask
Flask-Cors==5.0.0
future==1.0.0
gevent==24.10.2
google-api-core==2.21.0
google-auth==2.35.0
google-cloud-core==2.4.1
google-cloud-storage==2.18.2
google-crc32c==1.6.0
google-resumable-media==2.7.2
googleapis-common-protos==1.65.0
greenlet==3.1.1
gunicorn==23.0.0
idna==3.10
itsdangerous
Jinja2
jsonify==0.5
MarkupSafe
packaging==24.1
proto-plus==1.24.0
protobuf==5.28.2
pyasn1==0.6.1
pyasn1_modules==0.4.1
pycparser==2.22
PySocks==1.7.1
requests==2.32.3
requests-file==2.1.0
rsa==4.9
setuptools==75.1.0
tldextract==5.1.2
urllib3==2.2.3
Werkzeug
wheel==0.44.0
zope.event==5.0
zope.interface==7.1.0
