/* .flip-card {
  perspective: 1500px;
} */

.flip-inner {
  width: 520px;
  height: 400px;
  position: relative;
  /* transform-style: preserve-3d;
  transition: transform 0.6s ease; */
}

.flipped {
  transform: rotateY(180deg);
}

.flip-face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}

.back {
  transform: rotateY(180deg);
}
